astroid==1.6.6
backports.functools-lru-cache==1.6.1
colorama==0.4.3
configparser==4.0.2
enum34==1.1.6
futures==3.3.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.16.6
pandas==0.24.2
pylint==1.9.5
python-dateutil==2.8.1
pytz==2019.3
singledispatch==3.4.0.3
six==1.14.0
termcolor==1.1.0
wrapt==1.11.2
